@import '../styles/variables.css';
@import '../styles/theme.css';
@import '../styles/globals.css';
@import '../styles/typography.css';

@import "../styles/components/buttons.css";
@import "../styles/components/inputs.css";
@import "../styles/components/checkbox.css";