@import "tailwindcss";

.popover-container {
    @apply relative flex items-center w-fit h-fit;
}

.popover {
    @apply bg-(--surface) border border-(--border)
           px-2 py-1 rounded-xl
           absolute z-50 min-w-max
           transition-all duration-200 ease-in-out
           invisible opacity-0 scale-95;
}

.popover.showed {
    @apply visible opacity-100 scale-100;
}

.popover::before {
    @apply content-[''] absolute w-3 h-3 bg-inherit rotate-45 border-(--border);
}

.popover_right {
    @apply left-full top-1/2 -translate-y-1/2 ml-2 origin-left;
}
.popover_right:not(.showed) { 
    @apply -translate-x-2; 
} 
.popover_right::before {
    @apply top-1/2 -translate-y-1/2 -left-[5px]
           border-l border-b;
}

.popover_left {
    @apply right-full top-1/2 -translate-y-1/2 mr-2 origin-right;
}
.popover_left:not(.showed) { 
    @apply translate-x-2; 
}
.popover_left::before {
    @apply top-1/2 -translate-y-1/2 -right-[5px]
           border-r border-t;
}


.popover_top {
    @apply bottom-full left-1/2 -translate-x-1/2 mb-2 origin-bottom;
}
.popover_top:not(.showed) { 
    @apply translate-y-2; 
}
.popover_top::before {
    @apply left-1/2 -translate-x-1/2 -bottom-[5px]
           border-r border-b;
}

.popover_bottom {
    @apply top-full left-1/2 -translate-x-1/2 mt-2 origin-top;
}
.popover_bottom:not(.showed) { 
    @apply -translate-y-2; 
}
.popover_bottom::before {
    @apply left-1/2 -translate-x-1/2 -top-[5px]
           border-l border-t;
}

.popover_right-bottom {
    @apply left-full bottom-1/2 ml-2 origin-left;
}
.popover_right-bottom:not(.showed) { 
    @apply -translate-x-2; 
} 
.popover_right-bottom::before {
    @apply bottom-0 -translate-y-1/2 -left-[5px]
           border-l border-b;
}

.popover-backdrop {
    @apply fixed inset-0 z-40 cursor-default; 
}