@import "tailwindcss";

/* Panel */

.left-panel-container{
    @apply md:min-w-(--expanded-panel-width) 
        sticky top-0 left-0;
}

.left-panel {
    --btn-bg: color-mix(in oklab, var(--text-muted) 10%, transparent);
    @apply h-full w-(--collapsed-panel-width) bg-(--surface) flex flex-col border-r border-(--border);
    transition: all 300ms;
}

.left-panel.expanded {
    @apply md:w-(--expanded-panel-width);
}

/* Header */

.left-panel_header {
    @apply flex flex-col items-center flex-wrap;
}

.left-panel.expanded .left-panel_header {
    @apply md:flex-row md:items-center md:justify-between pl-3 pr-1;
}

.left-panel_header-logo {
    @apply my-2 size-[50px] shrink flex;
}

.left-panel_header-toogle {
    @apply p-2 hover:bg-(--btn-bg) 
        rounded-full hidden md:block
        rotate-180;
    transition: all 300ms;
}

.left-panel_header-toogle .icon {
    @apply size-[22px];
}

.left-panel.expanded .left-panel_header-toogle {
    @apply rotate-0;
}

/* Btns */

.left-panel_profile{
    @apply mt-auto;
}

/* Popover */

.left-side-panel_popover-container{
    @apply relative flex items-center;
}

.left-side-panel_popover{
    @apply bg-(--bg) border border-(--border)
           px-2 py-1 rounded-xl
           absolute left-full ml-3 z-50 min-w-max
           transition-all duration-200 ease-in-out origin-left
           opacity-0 -translate-x-2 invisible scale-95;
}

.left-side-panel_popover::before {
        @apply content-[''] absolute top-1/2 -left-1.5 
               w-3 h-3 -translate-y-1/2 rotate-45 bg-inherit 
               border-l border-b border-(--border);
    }

.left-side-panel_popover.showed{
    @apply opacity-100 translate-x-0 visible scale-100;
}

.left-panel_link-container .left-side-panel_popover{
    @apply ml-0;
}

.left-panel.expanded .left-panel_link-container .left-side-panel_popover{
    @apply md:hidden;
}

/* Profile */

.left-panel_profile-details{
    @apply border-t border-(--border) py-2 px-3
        hover:bg-(--border)/30 cursor-pointer w-full!
        flex flex-row justify-center items-center;
}

.left-panel.expanded .left-panel_profile-details{
    @apply md:justify-start;
}

.left-panel_profile-details-icon{
    @apply size-10 
        overflow-hidden bg-black/10
        border-(--border) border
        rounded-full;
}

.left-panel_profile-details-icon .img{
    @apply w-full h-full;
}

.left-panel_profile-details-titles{
    @apply hidden flex-col px-3
        justify-center text-[14px];
}

.left-panel.expanded .left-panel_profile-details-titles{
    @apply md:flex;
}

.left-panel_profile-details-titles span{
    @apply leading-4;
}

.left-panel_profile-details-fullname{
    @apply font-bold text-(--text);
}

.left-panel_profile-details-username{
    @apply text-(--text-muted);
}
