@import "tailwindcss";

.main-layout{
    --expanded-panel-width: 175px;
    --collapsed-panel-width: 75px;

    @apply flex flex-row w-full h-screen max-w-full overflow-y-auto overflow-x-hidden;
}

.main-layout_content{
    @apply flex-1 flex flex-row md:pr-(--expanded-panel-width);
}